*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    width:100px;
    height:100px;
}
.menu ul li{
    margin:15px;
}
.menu ul li a{
    text-decoration: none;
    color:grey;
}
.menu ul li a:hover{
    color:black;
}
.cart{
    position: relative;
}
.item{
    position: absolute;
    background-color: rgb(226, 156, 3);
    height:23px;
    width:23px;
    border-radius: 50%;
    top:28px;
    right:20px;
    text-align: center;
    color:white;
}
.shop{
    background-color: rgb(247, 180, 37);
    color:white;
    padding:8px 15px;
    border: none;
}
.shop a{
    text-decoration: none;
    color:white;
}
.shop:hover{
    background-color: rgb(226, 156, 3);
}
.shop-bg{
    width:300px;
    height:300px;
    background-color: rgb(247, 180, 37);
    position: relative;
    border-radius: 5px;
}
.shop-image{
    width:300px;
    height:300px;
    z-index: 1;
    position: absolute;
    top:40px;
    left:-40px;
    border-radius: 5px;
}
.option1{
    background-color: rgb(226, 156, 3);
    padding:15px 25px;
    border-radius: 5px;
    color:white;
}
.double{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.double1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 156, 3);
    padding:15px;
    border-radius: 5px;
    color:white;
}
.double2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 156, 3);
    padding:15px;
    border-radius: 5px;
    color:white;
}
.option3{
    background-color: rgb(226, 156, 3);
    padding:15px 25px;
    border-radius: 5px;
    color:white;
}
.t-img{
    width:100px;
    height:100px;
}
.trust{
    width:100%;
    background-color: rgb(238, 236, 236);
}
.get{
    border: none;
    background-color: rgb(251, 180, 14);
    padding:10px 15px;
    color:white;
}
.color{
    position: relative;
    background-color: rgb(1, 3, 32);
}
.footer-top{
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 15px;
    position: absolute;
    top:-25px;
    left:100px;
}
.error-btn{
    border: none;
    padding:10px 15px;
    background-color: rgb(247, 180, 37);
    color:white;
}
.feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-img{
    width:200px;
    height:150px;
}
.card-body a{
    text-decoration: none;
    color:grey;
}
.card-data{
    display: flex;
    justify-content: space-between;
}