*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    width:100px;
    height:100px;
}
.menu ul li{
    margin:15px;
}
.menu ul li a{
    text-decoration: none;
    color:grey;
}
.menu ul li a:hover{
    color:black;
}
.cart{
    position: relative;
}
.item{
    position: absolute;
    background-color: rgb(252, 97, 239);
    height:23px;
    width:23px;
    border-radius: 50%;
    top:28px;
    right:20px;
    text-align: center;
    color:white;
}
.shop{
    background-color: rgb(247, 180, 37);
    color:white;
    padding:8px 15px;
    border: none;
}
.shop a{
    text-decoration: none;
    color:white;
}
.shop:hover{
    background-color: rgb(226, 156, 3);
}
.shop-bg{
    width:300px;
    height:300px;
    background-color: rgb(247, 180, 37);
    position: relative;
    border-radius: 5px;
}
.shop-image{
    width:300px;
    height:300px;
    z-index: 1;
    position: absolute;
    top:40px;
    left:-40px;
    border-radius: 5px;
}