*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width:100px;
    height:100px;
}
.menu ul li{
    margin:15px;
}
.menu ul li a{
    text-decoration: none;
    color:grey;
}
.cart{
    position: relative;
}
.item{
    position: absolute;
    background-color: rgb(252, 97, 239);
    height:23px;
    width:23px;
    border-radius: 50%;
    top:28px;
    right:20px;
    text-align: center;
    color:white;
}